#loginbut{
    width: 270px;
    height: 40px;
    margin-top: 110px;
    background-color: #FE9A2E;
    font-size: 20pt;
    color: white;
    height: 80px;
}

#loginbut:hover{
	background-color: #A4A4A4;
}

#signupbut{
    width: 270px;
    height: 40px;
    margin-top: 110px;
    background-color: #FE9A2E;
    font-size: 20pt;
    color: white;
    height: 80px;
}

#signupbut:hover{
	background-color: #A4A4A4;
}

#buttabs{
    text-align: center;
}

#nameInp{
    text-align: center;
    margin-left: 650px;
    height: 50px;
    width: 200px;
    background-color: #ABA4A2;
    font-family: Arial;
}

body{
	background-color: #819FF7;
}

#info{
	background-color: #2E64FE;
	color: white;
	width: 540px;
	height: 450px;
	text-align: center;
	margin-left: 450px;
	font-size: 15pt;

}

#infoReg{
    background-color: #2E64FE;
    color: white;
    width: 540px;
    height: 550px;
    text-align: center;
    margin-left: 450px;
    font-size: 15pt;

}

#randphrase{
	background-color: #819FF7;
	width: 350px;
	height: 200px;
	font-size: 25pt;
	text-align: center;
	margin-left: 110px;
	color: black;
	border-color: black;
	border-width: 5pt;
}

#randphraseReg{
    background-color: #819FF7;
    width: 350px;
    height: 300px;
    font-size: 10pt;
    text-align: center;
    margin-left: 110px;
    color: black;
    border-color: black;
    border-width: 5pt;
}

#recordings{
    text-align: center;
}

#startrec{
    width: 200px;
    height: 40px;
    margin-top: 70px;
    background-color: #819FF7;
    font-size: 20pt;
    color: white;
    height: 80px;
}

#startrec:hover{
	background-color: #A4A4A4;
}

#stoprec{
    width: 200px;
    height: 40px;
    margin-top: 70px;
    background-color: #819FF7;
    font-size: 20pt;
    color: white;
    height: 80px;
}

#stoprec:hover{
	background-color: #A4A4A4;
}

#recbuts{
    text-align: center;
}