#loginbut{
    width: 270px;
    height: 40px;
    margin-top: 110px;
    background-color: #98F0E1;
    font-size: 20pt;
    color: black;
    height: 80px;
}


#loginbut:hover{
	background-color: #A4A4A4;
}



#nameInfo{
    height: 80px;
}


#signupbut{
    width: 270px;
    height: 40px;
    margin-top: 110px;
    background-color: #98F0E1;
    font-size: 20pt;
    color: black;
    height: 80px;
}

#signupbut:hover{
	background-color: #A4A4A4;
}

#buttabs{
    text-align: center;
}

#nameInp{
    margin-left: 450px;
    height: 50px;
    width: 545px;
    background-color: #ABA4A2;
    font-family: Arial;
}

body{
	background-color: #E2EEEC;
}

#info{
	background-color: #B9F2EB;
	color: black;
	width: 540px;
	height: 650px;
	text-align: center;
	margin-left: 450px;
	font-size: 15pt;
    border-width: 2pt;
    border-color: black;

}

#infoReg{
    background-color: #D1F7F2;
    color: white;
    width: 540px;
    height: 550px;
    text-align: center;
    margin-left: 450px;
    font-size: 15pt;

}

#randphrase{
	background-color: #83A5A0;
	width: 350px;
	height: 200px;
	font-size: 25pt;
	text-align: center;
	margin-left: 110px;
	color: black;
	border-color: black;
	border-width: 5pt;
}

#randphraseReg{
    background-color: #D1F7F2;
    width: 350px;
    height: 300px;
    font-size: 10pt;
    text-align: center;
    margin-left: 110px;
    color: black;
    border-color: black;
    border-width: 5pt;
}

#recordings{
    text-align: center;
}

#startrec{
    width: 250px;
    height: 250px;
    margin-top: 70px;
    background: url(http://icons.iconarchive.com/icons/blackvariant/button-ui-requests-15/256/Microphone-icon.png) no-repeat;
    cursor: pointer;
    border:none;
    font-size: 20pt;
    color: black;
}

#startrec:hover{
	background-color: #A4A4A4;
}

#stoprec{
    width: 230px;
    height: 40px;
    margin-top: 70px;
    background-color: #98F0E1;
    font-size: 20pt;
    color: black;
    height: 80px;
}

#stoprec:hover{
	background-color: #A4A4A4;
}

#recbuts{
    text-align: center;
}