<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> YOLO </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="{% static 'login/style.css' %}" rel="stylesheet" type="text/css">
    <link href = "https://bootswatch.com/4/solar/bootstrap.min.css" rel = "stylesheet" type = "text/css">
  </head> 







  <body id = "registerbod">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
      <div id = "wrapper">

        <!-- sidebar -->

        <div id = "sidebar-wrapper">
          <ul>
            <li> <a href = "{% url 'events' %}"> Login </a> </li>
            <br>
            <li> <a href = "{% url 'events1' %}"> Register </a> </li>
          </ul>
        </div>

        <div id = "page-content-wrapper">
          <div class = "container-fluid">
            <div class = "row">
              <div class = "col-lg-12">
                <a href= "#" class = "btn-btn-success" id = "menu-toggle"> 
                  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
              </div>
            </div>
            <br>
            <br>
            <div class = "row" id = "body-main-content">
              <div class = "col-lg-12">
                <br>
                <p id = "instr"> Please say the following phrase after clicking the start button.</p>
                <p id = "randphrase"> PlaceHolder </p>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
              <div class = "col-lg-12" id = "buts">
                <div id = "recbuts">
                  <input type = "button" id = "startrec1" class = "glyphicon glyphicon-play" value = "">
                </div>
              </div>
              <div class = "col-lg-12">
                <br>
                <br>
              </div>
            </div>
            <div class = "row" id = "animation-body">
              <div id="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <script> 

        /* menu toggle */

        $("#menu-toggle").click( function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("menuDisplayed");
        });

        /*end menu toggle */

        /*Code for recording from microphone reference: https://addpipe.com/blog/using-recorder-js-to-capture-wav-audio-in-your-html5-web-site/ */

        URL = window.URL || window.webkitURL;
        var gumStream;            
        var rec;              
        var input;            
        var AudioContext = window.AudioContext || window.webkitAudioContext;
        var audioContext 
        var recordButton = document.getElementById("startrec1");
        recordButton.addEventListener("click", start_stop);

		    var recording = false;
		    function start_stop() {
			   if (recording) {
				  recording = false
				  stopRecording();
			 }
			 else{
		  		recording = true;
		  		startRecording()
		  	}
		  }

        function startRecording() {
          console.log("IN START RECORDING");
          document.getElementById("instr").innerHTML = "Please click the stop button once you are done recording.";
          var constraints = { audio: true, video:false }
          navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
            audioContext = new AudioContext();
            gumStream = stream;
            input = audioContext.createMediaStreamSource(stream);
            rec = new Recorder(input,{numChannels:1})
            rec.record()
            var buttons = document.getElementById("startrec1");
            buttons.style.background = 'url(https://resizeimage.net/mypic/m6DiGxvblxc6TLA9/wFGYX/stop.png) no-repeat';

          }).catch(function(err) {
          });
        }

        window.onload = function() {
          getText();
        };

        function stopRecording() {
          var buttons = document.getElementById("startrec1");
          buttons.style.background = 'url(https://resizeimage.net/mypic/k8ZrFivAU6UI5ATq/RZF7M/start.png) no-repeat';
          rec.stop();
          gumStream.getAudioTracks()[0].stop();
          rec.exportWAV(createDownloadLink);

        }

        function getCSRFToken() {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
              c = cookies[i].trim();
              if (c.startsWith("csrftoken=")) {
                  return c.substring("csrftoken=".length, c.length);
              }
          }
          return "unknown";
        }

        function createDownloadLink(blob) {
          var url = URL.createObjectURL(blob);
          var au = document.createElement('audio');
          var li = document.createElement('li');
          var link = document.createElement('a');
          var filename = new Date().toISOString();
          au.controls = true;
          au.src = url;
          link.href = url;
          link.download = filename+".wav"; 
          link.innerHTML = "Save to disk";
          li.appendChild(au);
          li.appendChild(document.createTextNode(filename+".wav "))
          li.appendChild(link);
          li.appendChild(document.createTextNode (" "));
          console.log(blob);
          var url = "/login";                                
		      var formData = new FormData();
		      formData.append('picture', blob);

		      $.ajax({
		        url: url, 
		        type: "POST", 
		        cache: false,
		        contentType: false,
		        processData: false,
		        data: formData})
		            .done(function(e){
                  var name = e['username'];
                  location.href="/welcome/"+name;
		            });
          }

        function getText(){
          // read text from URL location
          console.log('in start function')
          var request = new XMLHttpRequest();
          request.open('GET', 'https://gist.githubusercontent.com/deekayen/4148741/raw/01c6252ccc5b5fb307c1bb899c95989a8a284616/1-1000.txt', true);
          request.send(null);
          request.onreadystatechange = function () {
          	  console.log('in getText')
              if (request.readyState === 4 && request.status === 200) {
                  var type = request.getResponseHeader('Content-Type');
                  if (type.indexOf("text") !== 1) {
                  	  console.log('in second IF')
                      text = request.responseText;
                      console.log(text)
                      text = text.split('\n');
                      length_array = text.length;
                      word1 = text[getRandomInt(length_array)];
                      word2 = text[getRandomInt(length_array)];
                      word3 = text[getRandomInt(length_array)];
                      word4 = text[getRandomInt(length_array)];
                      word5 = text[getRandomInt(length_array)];
                      var new__phrase = [];
                      new__phrase.push(word1," ",word2," ", word3, " ", word4, " ", word5);
                      document.getElementById("randphrase").innerHTML = new__phrase.join("");
                      return;
                  }
              }
            }
        }

        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

        function getRandomInt(max) {
          return Math.floor(Math.random() * Math.floor(max));
        }

      </script>

      <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script> 
  </body>
</html>