<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> YOLO </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="{% static 'login/style.css' %}" rel="stylesheet" type="text/css">
    <link href = "https://bootswatch.com/4/minty/bootstrap.min.css" rel = "stylesheet" type = "text/css">
  </head>  

  <body>


  <body id = "registerbod">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
      <div id = "wrapper">

        <!-- sidebar -->

        <div id = "sidebar-wrapper">
          <ul>
            <li> <a href = "{% url 'events' %}"> Login </a> </li>
            <br>
            <li> <a href = "{% url 'events1' %}"> Register </a> </li>
          </ul>
        </div>

        <div id = "page-content-wrapper">
          <div class = "container-fluid">
            <div class = "row">
              <div class = "col-lg-12">
                <a href= "#" class = "btn-btn-success" id = "menu-toggle"> 
                  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                  <div id  ="logo_img">
                    <img src = "https://i.ibb.co/f9kDp9Y/1bd9cbba-6871-40ea-8001-e77bd4f24bfc.png">
                  </div>
                </a>
              </div>
            </div>
            <br>
            <br>
            <div class = "row" id = "body-main-content">
              <div class = "col-lg-12">
                <br>
                <p id = "instr"> Please say the following phrase after entering your name and then clicking the start button.</p>
                <input type = "text" id = "nameInp" name = "userName" placeHolder = "Enter name"/>
                <p id = "randphraseReg"> PlaceHolder </p>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
              <div class = "col-lg-12" id = "buts">
                <div id = "recbuts">
                  <input type = "button" id = "startrec" class = "record" value = "">
                </div>
              </div>
              <div class = "col-lg-12">
                <br>
                <br>
              </div>
            </div>
            <div class = "row" id = "animation-body">
              <div id="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <br>
                <br>
              </div>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>


      <script> 

      /* menu toggle */

        $("#menu-toggle").click( function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("menuDisplayed");
        });

      /*end menu toggle */

        /*Code for recording from microphone reference: https://addpipe.com/blog/using-recorder-js-to-capture-wav-audio-in-your-html5-web-site/ */

        URL = window.URL || window.webkitURL;

        var gumStream;            
        var rec;              
        var input;            
        var AudioContext = window.AudioContext || window.webkitAudioContext;
        var audioContext 
        var recordButton = document.getElementById("startrec");
        //var stopButton = document.getElementById("stoprec");
        recordButton.addEventListener("click", start_stop);
        //stopButton.addEventListener("click", stopRecording);

        window.onload = function() {
          getText();
        };


        var passageOpts = [
        'Far out in the uncharted backwaters of the unfashionable  end  of the  western  spiral  arm  of  the Galaxy lies a small unregarded yellow sun. Orbiting this at a distance of roughly ninety-two  million  miles is  an  utterly insignificant little blue green planet whose ape- descended life forms are so amazingly primitive that  they still think digital watches are a pretty neat idea.', 
         'This planet has - or rather had - a problem, which was this: most of  the  people  on  it were unhappy for pretty much of the time. Many solutions were suggested for this problem, but most of these were  largely  concerned with the movements of small green pieces of paper, which is odd because on the whole it wasnt  the  small green pieces of paper that were unhappy.', 
        'Many were increasingly of the opinion that theyd all made a  big mistake  in  coming  down  from the trees in the first place. And some said that even the trees had been a bad move,  and  that  no one should ever have left the oceans. And then, one Thursday, nearly two thousand years after  one  man had  been nailed to a tree for saying how great it would be to be nice to people for a change, one girl sitting on  her  own  in  a small  cafe  in  Rickmansworth suddenly realized what it was that had been going wrong all this time, and she finally knew how  the world  could  be  made  a  good and happy place.']

        function getText(){
          console.log('in gettext register')
          var item = passageOpts[Math.floor(Math.random()*passageOpts.length)];
          console.log(item)
          document.getElementById("randphraseReg").innerHTML = item;
        }

        var recording = false;
        function start_stop() {
          if (recording) {
            recording = false
            stopRecording();
          }
          else{
            recording = true;
            startRecording()
          }

        }
        
        function startRecording() {
          console.log("IN START RECORDING");
          document.getElementById("instr").innerHTML = "Please click the stop button once you are done recording.";
          var constraints = { audio: true, video:false }
          navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
            audioContext = new AudioContext();
            gumStream = stream;
            input = audioContext.createMediaStreamSource(stream);
            rec = new Recorder(input,{numChannels:1})
            rec.record()
            var buttons = document.getElementById("startrec");
            buttons.style.background = 'url(https://i.ibb.co/fSRFf2q/stop-82x82.png) no-repeat';
          }).catch(function(err) {
          });
        }

        function stopRecording() {
          var buttons = document.getElementById("startrec");
          buttons.style.background = 'url(https://i.ibb.co/C5zk8Rk/start-82x82.png) no-repeat';
          rec.stop();
          gumStream.getAudioTracks()[0].stop();
          if(document.getElementById("nameInp").value == ""){
            alert("Please enter a username in the text box.");
          }
          else{
            rec.exportWAV(createDownloadLink);
          }
        }

        function getCSRFToken() {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
              c = cookies[i].trim();
              if (c.startsWith("csrftoken=")) {
                  return c.substring("csrftoken=".length, c.length);
              }
          }
          return "unknown";
        }

        function createDownloadLink(blob) {
          var url = URL.createObjectURL(blob);
          var au = document.createElement('audio');
          var li = document.createElement('li');
          var link = document.createElement('a');
          var filename = new Date().toISOString();
          au.controls = true;
          au.src = url;
          link.href = url;
          link.download = filename+".wav"; 
          link.innerHTML = "Save to disk";
          li.appendChild(au);
          li.appendChild(document.createTextNode(filename+".wav "))
          li.appendChild(link);
          li.appendChild(document.createTextNode (" "))
          console.log(blob);

          var name = document.getElementById("nameInp");
          var nameValue = name.value;
          name.value = '';

          var url = "/register";
          var formData = new FormData();
          formData.append('name', nameValue);
          formData.append('picture', blob);

          $.ajax({
              url: url,
              type: "POST",
              cache: false,
              contentType: false,
              processData: false,
              data: formData})
                  .done(function(e){
                    if(e['error']) {
                      alert(e['error']);
                    }
                    else{
                      alert('You have been registered!');
                    }
                  });
          }
          //code for background 



      </script>
      <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script> 
  </body>
</html>