<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> YOLO </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
          $(document).ready(function() {
	          setTimeout(function(){
	              $('body').addClass('loaded');
	          }, 3000);

	      });
	  </script>

    <link href="{% static 'login/style.css' %}" rel="stylesheet" type="text/css">
  </head> 

  <body>
      <div id = "buttabs">
        <input type = "button" id = "loginbut" type = "submit" value ="Login" 
        onclick="location.href='{% url 'events' %}';" class="btn btn-primary btn-lg">
        <input type = "button" id = "signupbut" type = "submit" onclick="location.href='{% url 'events1' %}';" value = "Register" class="btn btn-primary btn-lg">
      </div>
      <br>
      <div id = "nameInfo">
        <input type = "text" id = "nameInp" name = "userName" placeHolder = "Enter name"/>
      </div>
      <div id = "infoReg">
        <p id = "instr">Please say the following phrase after clicking the start recording button.</p>
        <p id = "randphraseReg"> Rnaodm </p>
        <div id = "recbuts">
          <input type = "button" id = "startrec" class = "record" value = "">
        </div>
      </div>
      <div id = "recordings">
        <ol id="recordingsList"></ol>
      </div>

      <script> 

        /*Code for recording from microphone reference: https://addpipe.com/blog/using-recorder-js-to-capture-wav-audio-in-your-html5-web-site/ */

        URL = window.URL || window.webkitURL;

        var gumStream;            
        var rec;              
        var input;            
        var AudioContext = window.AudioContext || window.webkitAudioContext;
        var audioContext 
        var recordButton = document.getElementById("startrec");
        //var stopButton = document.getElementById("stoprec");
        recordButton.addEventListener("click", start_stop);
        //stopButton.addEventListener("click", stopRecording);

        window.onload = function() {
          getText();
        };


        var passageOpts = [
        'Far out in the uncharted backwaters of the unfashionable  end  of the  western  spiral  arm  of  the Galaxy lies a small unregarded yellow sun. Orbiting this at a distance of roughly ninety-two  million  miles is  an  utterly insignificant little blue green planet whose ape- descended life forms are so amazingly primitive that  they still think digital watches are a pretty neat idea.', 
         'This planet has - or rather had - a problem, which was this: most of  the  people  on  it were unhappy for pretty much of the time. Many solutions were suggested for this problem, but most of these were  largely  concerned with the movements of small green pieces of paper, which is odd because on the whole it wasnt  the  small green pieces of paper that were unhappy.', 
        'Many were increasingly of the opinion that theyd all made a  big mistake  in  coming  down  from the trees in the first place. And some said that even the trees had been a bad move,  and  that  no one should ever have left the oceans. And then, one Thursday, nearly two thousand years after  one  man had  been nailed to a tree for saying how great it would be to be nice to people for a change, one girl sitting on  her  own  in  a small  cafe  in  Rickmansworth suddenly realized what it was that had been going wrong all this time, and she finally knew how  the world  could  be  made  a  good and happy place.']

        function getText(){
          console.log('in gettext register')
          var item = passageOpts[Math.floor(Math.random()*passageOpts.length)];
          console.log(item)
          document.getElementById("randphraseReg").innerHTML = item;
        }

        var recording = false;
        function start_stop() {
          if (recording) {
            recording = false
            stopRecording();
          }
          else{
            recording = true;
            startRecording()
          }

        }
        
        function startRecording() {
          console.log("IN START RECORDING");
          var constraints = { audio: true, video:false }
          navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
            audioContext = new AudioContext();
            gumStream = stream;
            input = audioContext.createMediaStreamSource(stream);
            rec = new Recorder(input,{numChannels:1})
            rec.record()
          }).catch(function(err) {
          });
        }

        function stopRecording() {
          rec.stop();
          gumStream.getAudioTracks()[0].stop();
          rec.exportWAV(createDownloadLink);
        }

        function getCSRFToken() {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
              c = cookies[i].trim();
              if (c.startsWith("csrftoken=")) {
                  return c.substring("csrftoken=".length, c.length);
              }
          }
          return "unknown";
        }

        function createDownloadLink(blob) {
          var url = URL.createObjectURL(blob);
          var au = document.createElement('audio');
          var li = document.createElement('li');
          var link = document.createElement('a');
          var filename = new Date().toISOString();
          au.controls = true;
          au.src = url;
          link.href = url;
          link.download = filename+".wav"; 
          link.innerHTML = "Save to disk";
          li.appendChild(au);
          li.appendChild(document.createTextNode(filename+".wav "))
          li.appendChild(link);
          li.appendChild(document.createTextNode (" "))
          console.log(blob);
          

          var url = "/login";                                
      var formData = new FormData();
      formData.append('picture', blob);

      $.ajax({
          url: url, 
          type: "POST", 
          cache: false,
          contentType: false,
          processData: false,
          data: formData})
              .done(function(e){
              });
        }



      </script>
      <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script> 
  </body>
</html>